.slick-slider {
  width: 100% !important;
}
.slick-prev
{
    left: 3px !important;
    z-index: 50 !important;
    padding: 10px !important;
    /* background-color: black !important;  */
}

.slick-prev:before{
  font-size: 30px !important;
}

.slick-next
{
    right: 12px !important;
    z-index: 50 !important;
    /* background-color: black !important;  */
}

.slick-next:before{
  font-size: 30px !important;
}